.header {
  background-color: #00a99d;
  color: white;
  min-height: 65px;
  font-family: "Poppins-Medium";
}

.mat-icon {
  color: white;
}

.heading {
  font-size: 20px;
  padding-top: 2px;
  font-family: "Poppins-Medium";
}
