/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

mat-form-field {
  width: 100%;
}

.p-10 {
  padding: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pt-15 {
  padding-top: 15px;
}


.studentHeading h2 {
  font-size: 32px;
  margin: 15px auto;
  color: #3b4980;
  text-decoration: underline;
  line-height: 1.5;
  padding: 5px;
  font-family: "Poppins-SemiBold";
}

.mat-raised-button,
.mat-button {
  font-size: 14px;
  font-family: "Poppins-SemiBold";
}

/* Student Details CSS Starts */
.mat-raised-button {
  background-color: #009478 !important;
  color: white !important;
}

#table .mat-table {
  background-color: inherit;
}

#table .mat-header-row {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#table .mat-row {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  font-family: "Poppins-SemiBold";
}

.mat-header-cell {
  color: #5d5b5b;
}

.studentTable .mat-header-cell {
  font-size: 16px;
  font-family: "Poppins-Bold";
  font-weight: 600;
}

.studentTable .mat-column-name {
  flex: 0 0 20%;
  overflow: auto;
}
.studentTable .mat-column-emailid {
  flex: 0 0 22%;
}
.studentTable .mat-column-gender {
  flex: 0 0 12%;
}
.studentTable .mat-column-date {
  flex: 0 0 12%;
}
.studentTable .mat-column-address {
  flex: 0 0 26%;
}
.studentTable .mat-column-action {
  flex: 0 0 8%;
}

.mat-icon {
  cursor: pointer;
}
.mat-icon:nth-of-type(1) {
  /* color: #3b4980; */
  margin-right: 5px;
}

.mat-icon:nth-of-type(2) {
  color: rgb(243, 14, 14);
}

.toolTipClass {
  margin: 0px;
  background: #009478 !important;
  font-size: 12px;
  font-family: "Poppins-Medium";
}

.studentTable mat-cell:first-of-type,
.studentTable mat-header-cell:first-of-type,
.studentTable mat-footer-cell:first-of-type {
  padding-left: 15px;
}

.studentTable mat-cell:first-of-type {
  padding-left: 20px;
}

.studentTable mat-cell:last-of-type,
.studentTable mat-header-cell:last-of-type,
.studentTable mat-footer-cell:last-of-type {
  padding-left: 10px;
}
/* Student Details CSS Ends */

/* Student Form CSS Starts */
.mat-radio-button:nth-of-type(1) {
  margin: 0 10px;
}

.radioBlock {
  max-height: 45px;
  margin: 5px auto;
}

mat-label,
.mat-input-element {
  font-size: 14px;
  font-family: "Poppins-SemiBold";
}

.dialogHeading {
  font-size: 16px;
  font-family: "Poppins-SemiBold";
}

strong {
  font-family: "Poppins-Bold";
}
/* Student Form CSS Ends */

@media only screen and (max-width: 1024px) and (min-width: 320px) {
  .tableContainer {
    padding: 0px 10px;
    margin: 0;
  }

  #table {
    width: 100%;
    overflow-x: scroll;
  }

  #table .mat-table {
    width: 1100px;
    padding-bottom: 15px;
  }

  .cdk-overlay-pane {
    max-width: 98vw !important;
  }

  .studentHeading h2 {
    font-size: 26px;
  }

  .studentTable .mat-header-cell {
    font-size: 14px;
  }
  .heading {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .mat-radio-button:nth-of-type(2) {
    margin-left: 10px;
    margin-top: 5px;
  }
}
